/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  user-select: none;
}

body {
  background-color: black;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 25px;
}

.logo-div img {
  width: 250px;
  height: 200px;
  object-fit: cover;
}

.manage-btn {
  font-size: 1rem;
  padding: 8px 16px;
  cursor: pointer;
}

/* Search Sec */
.search-sec {
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  font-size: 1.125rem;
  color: white;
}

.search-sec > div {
  display: flex;
  align-items: start;
}

.search-sec > div button {
  font-size: 1rem;
  padding: 5px 25px;
  margin-left: 10px;
  cursor: pointer;
}

.search-input input {
  font-size: 1rem;
  padding: 5px;
  outline: none;
}

.search-response {
  margin-left: 40px;
  padding: 0 15px;
  height: 90px;
  color: white;
}

.search-response ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  gap: 10px 40px;
}

.search-response ul li {
  display: flex;
  gap: 5px;
}

.validation {
  font-size: 0.875rem;
  color: red;
  padding: 10px;
  position: absolute;
  left: 150px;
}

/* Parking lot */
.parking-sec {
  display: flex;
  padding: 40px 60px;
  gap: 0;
  width: 100%;
  justify-content: center;
}

.parking-spot {
  height: 320px;
  width: 250px;
  border: 6px solid yellow;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 25px;
  border-bottom: none;
  border-top: 12px solid yellow
}

.parking-spot:nth-child(1) {
  border-left: 12px solid yellow;
}

.parking-spot:nth-child(6) {
  border-right: 12px solid yellow;
}

.spot-number {
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
  color: white;
  margin-top: 10px;
}

.car-img {
  width: 100%;
}

.car-img img {
  width: 140px;
  height: 219px;
  object-fit: contain;
  transform: rotate(180deg)
}

/* Modal */
.modal-bg {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  color: white;
}

.modal {
  width: 900px;
  height: 550px;
  border: 1px solid white;
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 50px;
  background-color: black;
  padding: 20px;
  overflow: auto;
}

.modal div {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.modal p {
  font-size: 3rem;
}

.modal div span {
  font-size: 2rem;
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

tr, td, th {
  border: 2px solid white;
  text-align: center;
  padding: 5px;
}

/* Footer */
.footer {
  text-align: center;
  padding: 25px;
  margin-top: 80px;
  color: white;
}